<div ng-controller="ctrlAddVideo">
	<fieldset class="col-md-5">
		<legend>Add Video</legend>
			<div class="alert alert-success" role="alert" style="display: none;"></div>
			<div class="alert alert-danger" role="alert" style="display: none;"></div>
			<div class="row form-group">
				<label class="control-label col-md-4">ID Video</label>
				<div class="col-md-8">
					<input type="text" name="youtubeId" required="" class="form-control" ng-model="object.data.attributes.youtubeId"></input>
				</div>
			</div>
			<div class="row form-group">
				<label class="control-label col-md-4">Name</label>
				<div class="col-md-8">
					<input type="text" name="name" required="" class="form-control" ng-model="object.data.attributes.name"></input>
				</div>
			</div>
			<div class="row form-group">
				<label class="control-label col-md-4">Description</label>
				<div class="col-md-8">
					<input type="text" name="description" required="" class="form-control" ng-model="object.data.attributes.description"></input>
				</div>
			</div>
			<div class="row form-group">
				<label class="control-label col-md-4">Keywords</label>
				<div class="col-md-8">
					<input type="text" name="keywords" required="" class="form-control" ng-model="object.data.attributes.keywords"></input>
				</div>
			</div>
			<div class="row form-group">
				<label class="control-label col-md-4">Playlist</label>
				<div class="col-md-8">
					<select class="form-control" name="playlistId">
						<option value="0">All</option>
					</select>					
				</div>
			</div>
			<div class="row form-group">
				<label class="control-label col-md-4">Thumbnail</label>
				<div class="col-md-8">
					<input type="text" name="thumbnail" required="" class="form-control" ng-model="object.data.attributes.thumbnail"></input>
				</div>
			</div>
			<div class="row form-group">
				<label class="control-label col-md-4"></label>
				<div class="controls col-md-8">
			    	<button class="btn btn-success" id="btnSubmit" ng-click="btnAdd()">Add Video</button>
			    	<button class="btn btn-warning btn-home" ng-click="btnHome()">Go Home</button>
			    </div>
			</div>
	</fieldset>

	<!-- Tìm kiếm video -->
	<div class="col-md-7 videoshow"  >
		<!-- Khung tìm kiếm -->
		<div class="row videosearch">	
			<div class="input-group">
		    	<input type="text" class="form-control" placeholder="Search for..." id="input-search" value="" ng-model="inputSearch"></input>
		    	<span class="input-group-btn">
		        	<input type="button" name="btn" id="btnsearch" class="btn" value="Search" ng-click="btnsearch()">
		        	</input>
		    	</span>
		    </div>
		</div>
		<div class="row my-content">
			<!-- Hiển thị video tìm kiếm -->
			<div >	
				<a href="" class="col-xs-6 col-md-4 content" ng-repeat="video in listVideos">
					<img ng-src="{{video.snippet.thumbnails.medium.url}}" ng-click="showVideo(video.id.videoId)"></img>
					<div class="icon-add" ng-click='addVideo(video.id.videoId,video.snippet.thumbnails.medium.url)'>
						<span class="glyphicon glyphicon-info-sign icon-item"></span>
						Lấy thông tin
					</div>
					<div class="text-center title" id="{{video.id.videoId}}"><strong>{{video.snippet.title}}</strong></div>
				</a>				
			</div>
		</div>
		<div class="row morevideo"></div>
	</div>

	<div id="modal-video" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">';
		<div class="modal-dialog modal-lg" role="document">';
			<iframe id="video-frame" width="900" height="580" ng-src="{{mySrc}}" frameborder="0" allowfullscreen></iframe>
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>